:root {
	--pink-600: #734455;
	--pink-500: #a6627b;
	--pink-400: #d984a3;
	--pink-300: #e6a1ba;
	--pink-200: #f2b3ca;
	--pink-100: #fcd2e1;
	--gray-500: #0d0d0d;
	--gray-400: #595959;
	--gray-300: #8c8c8c;
	--gray-200: #bfbfbf;
	--gray-100: #f9f9f9;
	
	--background-color: var( --gray-100 );
	--text-color: var( --gray-500 );
	--link-color: var( --pink-500 );
	--link-hover-color: var( --pink-600 );


	--base-font-size: 16px;
	--base-line-height: 1.5px;
	--base-spacing: calc( var( --base-font-size ) * var( --base-line-height ) );


	--header-font: "Poiret One", serif;
	--body-font: "Lora", serif;
}
